h1 {
    color: rgb(60,100,200);
    border: 2px solid rgb(255, 100, 80);
}

h2 {
    color: rgba(60,100,200, 0.2);
}
h4{
    color: #AE879A;
    background: rgb(255, 100, 80);
}

li {
    color: green;
}

body {
    background: pink;
}

