/*Element*/
li {
}

/*Class*/
.hello {
}

/*id*/
#name {
}

/*Star*/
* {
    border: 1px solid lightgray;
}

/*Descendant Selector*/
li a {
    color: red;
}

/*Adjacent Selector*/
h4 + ul {
    border: 4px solid red;
}

/*Attribute Selector*/
input[type="text"] {
    background: blue;
}

/*nth of type*/
ul:nth-of-type(3) {
    background: purple;
}